*{
    margin: 0 auto;
}

/* .our-products{
    margin: 40px 0 0 250px ;
} */
.our-products{
    width: 80%;
    margin: 50px auto;
}
h2{

  margin-left:90px ;
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 35px;
}
.products1{
    width: 100%;
    margin: 50px 60px 10px 60px;
}
.products2{
    width: 100%;
    margin: 0px 60px 20px 60px;
}
.iphon-card{
    width: 20%;
    float: left;
    margin-left: 25px;
    border-radius: 5px;
    height: 335px;
    border: 1px solid rgba(152, 144, 144, 0.463);
}
.card-content{
    margin-left: 9.4px;
    margin-top: 10px;
    height: 80%;
 }
 .main-price{
    color: rgb(8, 147, 8);
    
 }
 .canceled-price{
    color: red;
    font-size: 13px;
    margin-left: 5px;
 }
.card-content h3{
    margin-top: 10px;
}
.card-content p{
    margin-top: 10px;
    color: gray;
}
.card-content span{
    display: inline-block;
    margin-top: 10px;
}
.card-content .add-to-cart{
    display: inline-block;
    margin-top: 20px;
    height:12% ;
    width: 80%;
    background-color: #007bfd;
    color: white;
    /* border-color: #007bfd; */
    border: none;
    border-bottom-left-radius: 5px;
}
.heart{
    display: inline-block;
    margin-top: 20px;
    height:12% ;
    width: 15%;
    border-color: #007bfd;
    background-color: white;
    border-bottom-right-radius: 5px;
}
.iphon-img{
    width: 92%;
    margin-top: 9.4px;
    border-radius: 5px;
}
img{
   
   width: 100%;
   border-radius: 5px;
}
.add-to-cart i{
    margin-right: 5px;
}

.fi-rs-heart{
    color: #007bfd;
    font-size: 16px;
    
}

 

.clearfix{
    clear: both;
}

  
  .roboto-regular,* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  